@model RAM.Controllers.ViewModels.HomeView

@{
    ViewBag.Title = "Modesto Power | " + Model.SelectedPage.bannertext;
}
<section class="main-slider no-bottom-margin has-pagination has-navigation " data-interval="10000">
    <div class="slider-item-list">
        @foreach (var img in Model.SelectedPage.bannerimage)
        {
            <div class="slider-item " data-label="Intro">
                <!-- SLIDE 1 BACKGROUND IMAGE : begin -->
                <img class="slider-item-bg" src="@img" alt="Modesto Power Danny Schreiber">
                <!-- SLIDE 1 BACKGROUND IMAGE : end -->

                <div class="slider-item-inner">
                    <div class="slider-item-content valign-bottom">
                        <div class="wrapper">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<section id="aboutcontent">
    <br />
    <div class="container">
        <div class="row">
            <div class="content-container col-lg-9 col-md-9 col-sm-7 col-xs-12 about-inner">
                <h2>@Model.SelectedPage.title</h2>
                <h3>@Model.SelectedPage.headertext</h3>
                @Html.Raw(Model.SelectedPage.maincontent)
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                @Html.Action("Sidebar", "Blog")
            </div>
        </div>
    </div>
</section>

<script>

    (function () {
        setTimeout(function () {
            $('#sticktop-sticky-wrapper').hide();
            $('#internalnav').show();
            $('#nav-about').addClass('active');
        }, 500);

    })();
</script>