@model RAM.Admin.Controllers.ViewModels.HomeView

@{
    ViewBag.Title = "Waiver";
}


<div class="container">
    <div class="row">
        <h2>Waiver</h2>
        <form action="/Forms/SaveWaiver" method="POST" class="form-actions">
            <div class="col-lg-6">
                <div class="form-group">
                    <b>First Name:</b>
                    <input type="text" name="first" id="first" class="form-control" value="@Model.SelectedWaiver.first" />
                </div>
                <div class="form-group">
                    <b>Last Name:</b>
                    <input type="text" name="last" id="last" class="form-control" value="@Model.SelectedWaiver.last" />
                </div>
                <div class="form-group">
                    <b>Email:</b>
                    <input type="email" name="email" id="email" class="form-control" value="@Model.SelectedWaiver.email" />
                </div>
                <div class="form-group">
                    <b>Address:</b>
                    <input type="text" name="address" id="address" class="form-control" value="@Model.SelectedWaiver.address" />
                </div>
                <div class="form-group">
                    <b>City:</b>
                    <input type="text" name="city" id="city" class="form-control" value="@Model.SelectedWaiver.city" />
                </div>
                <div class="form-group">
                    <b>Zip:</b>
                    <input type="text" name="zip" id="zip" class="form-control" value="@Model.SelectedWaiver.zip" />
                </div>
                <div class="form-group">
                    <b>Agreed To Terms:</b>
                    <input type="checkbox" name="agreedtoterms" id="agreedtoterms" checked="@Model.SelectedWaiver.first" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <b>Phone:</b>
                    <input type="text" name="phone" id="phone" class="form-control" value="@Model.SelectedWaiver.phone" />
                </div>
                <div class="form-group">
                    <b>Birthday:</b>
                    <input type="text" name="birthday" id="birthday" class="form-control" value="@Model.SelectedWaiver.birthday" />
                </div>
                <div class="form-group">
                    <b>Class Attending:</b>
                    <input type="text" name="classattending" id="classattending" class="form-control" value="@Model.SelectedWaiver.classattending" />
                </div>
                <div class="form-group">
                    <b>Emergency Name:</b>
                    <input type="text" name="emergencyname" id="emergencyname" class="form-control" value="@Model.SelectedWaiver.emergencyname" />
                </div>
                <div class="form-group">
                    <b>Emergency Number:</b>
                    <input type="text" name="emergencynumber" id="emergencynumber" class="form-control" value="@Model.SelectedWaiver.emergencynumber" />
                </div>
                <div class="form-group">
                    <b>Parent/Guardian Name:</b>
                    <input type="text" name="guardianname" id="guardianname" class="form-control" value="@Model.SelectedWaiver.guardianname" />
                </div>
                <div class="form-group">
                    <b>Date Signed: </b>
                    <span id="datecreated" >@Model.SelectedWaiver.datecreated.ToString()</span>
                </div>
            </div>
            <input type="hidden" id="hdnId" name="hdnId" value="@Model.SelectedWaiver.Id.ToString()"/>
        </form>
    </div>
    <div class="row">
        <button id="save" type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" id="delete">Delete</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        var waiver = {
            first: $('#first').val(),
            last: $('#last').val(),
            phone: $('#phone').val(),
            email: $('#email').val(),
            birthday: $('#birthday').val(),
            address: $('#address').val(),
            city: $('#city').val(),
            state: 'CA',
            zip: $('#zip').val(),
            classattending: $('#classattending').val(),
            emergencynumber: $('#emergencynumber').val(),
            emergencyname: $('#emergencyname').val(),
            guardianname: $('#guardianname').val(),
            agreedtoterms: $('#agreedtoterms').prop('checked'),
            id: $('#hdnId').val()
        };

        $("#save").on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]' + '/Forms/SaveWaiver',
                type: 'POST',
                data: JSON.stringify(waiver),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    window.location = window.location;
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });

    });
</script>