<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Modesto Power</title>
    @Styles.Render("~/Content/css")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body data-spy="scroll" data-target="#sticktop" data-offset="100">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
        </div>
    </div>




    <!--=================================
     Home
     =================================-->
    <section id="home" class="video-banner">

        @*<video class="video-BG">
            <source type="video/mp4" src="../video/mp1.mp4" />
        </video>*@

        <div class="overlay"></div>
        <div class="video-content visible-lg visible-md">
            <div class="container">
                <!-- <img class="logo" src="assets/img/basic/logo.png" alt=""> -->
                <div class="text-fadder flexslider">
                    <ul class="slides">
                        <li>
                            <h5>the ultimate</h5>
                            <h1>Training Facility</h1>
                        </li>
                        <li>
                            <h5>the Limitless</h5>
                            <h1>Training experience</h1>
                        </li>
                        <li>
                            <h5>feel the difference</h5>
                            <h1>Modesto Power</h1>
                        </li>
                    </ul>
                </div>
                <ul class="home-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#programs">Programs</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#team">Instructors</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#portfolio">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <a class="btn" href="#">learn more</a>
            </div>
        </div>
        <a class="scroller" href="#about"></a>
    </section>

    <!--=================================
    header
    =================================-->
    <header id="sticktop">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"><img src="../images/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a></li>
                    <li class="dropdown">
                        <a href="#about">About</a>
                        <ul class="dropdown-menu">
                            <li><a href="/About/Our-History">Our History</a></li>
                            <li><a href="/About/Community-Outreach">Community Outreach</a></li>
                            <li><a href="/About/Membership-Info">Membership Info</a></li>
                        </ul>
                    </li>
                    <li><a href="#programs">Programs</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#team">Instructors</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#portfolio">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </div>
        </nav>
    </header>
        @RenderBody()
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h5> <a href="#">© Modesto Power.</a> All Rights Reserved</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                    <h6>Site by: <a href="http://www.ravenartmedia.com">Raven Art Media</a></h6>
                </div>
            </div>


        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/mp")
    @RenderSection("scripts", required: false)
    <script>
        $(window).load(function () {
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(250).fadeOut('slow'); // will fade out the white DIV that covers
            $('.spinner').fadeOut();

        });
    </script>
</body>
</html>
