<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Modesto Power</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body data-spy="scroll" data-target="#sticktop" data-offset="100">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
        </div>
    </div>



    @RenderSection("home", required: false)
    

    <!--=================================
    header
    =================================-->
    <header id="sticktop">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a></li>
                    <li class="dropdown">
                        <a href="#about">About</a>
                        <ul class="dropdown-menu">
                            <li><a href="/About/Our-History">Our History</a></li>
                            <li><a href="/About/Community-Outreach">Community Outreach</a></li>
                            <li><a href="/About/Membership-Info">Membership Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#programs">Programs</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Programs/Brazilian-Jiu-Jitsu">Brazilian Jiu Jitsu</a></li>
                            <li><a href="/Programs/Muay-Thai">Muay Thai</a></li>
                            <li><a href="/Programs/Mixed-Martial-Arts">Mixed Martial Arts</a></li>
                            <li><a href="/Programs/Cardio-Kickboxing">Cardio Kickboxing</a></li>
                            <li><a href="/Programs/The-Performance-Lab">The Performance Lab</a></li>
                        </ul>
                    </li>
                    <li><a href="/Schedule">Schedule</a></li>
                    <li>
                        <a href="#team">Instructors</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Instructors/Chewy-Ybarra">Chewy Ybarra</a></li>
                            <li><a href="/Instructors/Steve-Shelburn">Steve Shelburn</a></li>
                            <li><a href="/Instructors/Danny-Schreiber">Danny Schreiber</a></li>
                            <li><a href="/Instructors/Brett-Butler">Brett Butler</a></li>
                        </ul>
                    </li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </div>
        </nav>
    </header>

    <header id="internalnav" style="display: none;">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="nav-home"><a href="/">Home</a></li>
                    <li id="nav-about" class="dropdown">
                        <a href="#">About</a>
                        <ul class="dropdown-menu">
                            <li><a href="/About/Our-History">Our History</a></li>
                            <li><a href="/About/Community-Outreach">Community Outreach</a></li>
                            <li><a href="/About/Membership-Info">Membership Info</a></li>
                        </ul>
                    </li>
                    <li id="nav-programs">
                        <a href="#programs">Programs</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Programs/Brazilian-Jiu-Jitsu">Brazilian Jiu Jitsu</a></li>
                            <li><a href="/Programs/Muay-Thai">Muay Thai</a></li>
                            <li><a href="/Programs/Mixed-Martial-Arts">Mixed Martial Arts</a></li>
                            <li><a href="/Programs/Cardio-Kickboxing">Cardio Kickboxing</a></li>
                            <li><a href="/Programs/The-Performance-Lab">The Performance Lab</a></li>
                        </ul>
                    </li>
                    <li id="nav-schedule"><a href="/Schedule">Schedule</a></li>
                    <li id="nav-instructors">
                        <a href="#team">Instructors</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Instructors/Chewy-Ybarra">Chewy Ybarra</a></li>
                            <li><a href="/Instructors/Steve-Shelburn">Steve Shelburn</a></li>
                            <li><a href="/Instructors/Danny-Schreiber">Danny Schreiber</a></li>
                            <li><a href="/Instructors/Brett-Butler">Brett Butler</a></li>
                        </ul>
                    </li>
                    <li id="nav-blog"><a href="/Blog">Blog</a></li>
                    <li id="nav-contact"><a href="/Contact">Contact</a></li>

                </ul>
            </div>
        </nav>
    </header>
        @RenderBody()
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h5> <a href="#">© Modesto Power.</a> All Rights Reserved</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                    <h6>Site by: <a href="http://www.ravenartmedia.com">Raven Art Media</a></h6>
                </div>
            </div>


        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/mp")
    @RenderSection("scripts", required: false)
    <script>
        $(window).load(function () {
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(250).fadeOut('slow'); // will fade out the white DIV that covers
            $('.spinner').fadeOut();

        });
    </script>
</body>
</html>
