
@model RAM.Admin.Controllers.ViewModels.HomeView


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="col-sm-2">
                Class
            </th>
            <th class="col-sm-4">
                Description
            </th>
            <th class="col-sm-2">
                Instructor
            </th>
            <th class="col-sm-1">
                Day
            </th>
            <th class="col-sm-1">
                Time
            </th>
            <th style="text-align: right;" class="col-sm-2">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.ClassList)
        {
            <tr>
                <td>
                    <span id="class_@schedule.Id">
                        @schedule.name
                    </span>
                </td>
                <td>
                    <span id="description_@schedule.Id">
                        @schedule.description
                    </span>
                </td>
                <td>
                    <span id="instructor_@schedule.Id">
                        @schedule.instructor
                    </span>
                </td>
                <td>
                    <span id="day_@schedule.Id">
                        @schedule.day
                    </span>
                </td>
                <td>
                    <span id="time_@schedule.Id">
                        @schedule.times
                    </span>
                </td>
                <td style="text-align: right;">
                    <a id="scheduleEdit_@schedule.Id" href="#scheduleModal" class="editModal btn btn-info" role="button" data-toggle="modal" data-id="@schedule.Id">Edit</a>
                    <button class="deleteschedule btn btn-danger" data-id="@schedule.Id.ToString()" type="button">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


