@model RAM.Admin.Controllers.ViewModels.HomeView
@{
    ViewBag.Title = "Schedule Management";
}
<div class="container" ng-controller="ScheduleController">
    <div class="row">
        <h2 class="pull-left">Schedule Mangement</h2>
        <div class="pull-right" style="margin-top: 20px;">
            <a href="#scheduleModal" class="editModal btn btn-success" role="button" data-toggle="modal">New Class</a>
        </div>
    </div>
    <div class="row">
        <hr />
        <div id="scheduleList">
            @Html.Partial("_ScheduleList")
        </div>
    </div>
    <div id="scheduleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="modalLabel">Add/Edit Class</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <b>Instructor:</b><br />
                            <input id="modalInstructor" type="text" class="form-control" ng-model="editing.instructor" placeholder="Enter Instructors Name" /><br />
                            <b>Class:</b><br />
                            <input id="modalClass" type="text" class="form-control" ng-model="editing.name" placeholder="Enter Class Name" /><br />
                            <b>Description:</b><br />
                            <input id="modalDescription" type="text" class="form-control" ng-model="editing.description" placeholder="Enter Description" /><br />
                            <b>Day:</b><br />
                            <input id="modalDay" type="text" class="form-control" ng-model="editing.day" placeholder="Enter Day of the Week" /><br />
                            <b>Class Time Text:</b><br />
                            <input id="modalTimes" type="text" class="form-control" ng-model="editing.times" placeholder="Enter the times public view" /><br />
                            <b>From:</b>
                            <timepicker ng-model="editing.starttime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker> &nbsp;<b>To:</b> &nbsp;
                            <timepicker ng-model="editing.endtime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        <button ng-click="saveClass()" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {


        @*$(".editModal").on('click', function (e) {
            e.preventDefault();
            @*var banners = @Html.Raw(Json.Encode(Model.Banners));
            var banner = banners[$(this).data('id') - 1 ];
            $("#modalInstructor").val($("#instructor_" + $(this).data('id')).text().trim());
            $("#modalClass").val($("#class_" + $(this).data('id')).text().trim());
            $("#modalDescription").val($("#description_" + $(this).data('id')).text().trim());
            $("#modalDay").val($("#day_" + $(this).data('id')).text().trim());
            $("#modalTime").val($("#time_" + $(this).data('id')).text().trim());
            $("#hdnScheduleID").val($(this).data('id'));
        });*@

        @*$(".deleteClass").on('click', function(e){
            e.preventDefault();
            if (!confirm("Do you want to delete")){
                return false;
            }
            $.ajax({
                url: '@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]' + '/Schedule/DeleteClass',
                type: 'POST',
                data: JSON.stringify({id: $(this).data('id')}),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $("#scheduleModal").modal('hide');
                    $("#scheduleList").html("");
                    $("#scheduleList").load('@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]' + '/Schedule/ScheduleList');
                    $('#scheduleList').effect("highlight", { color: "#7fd658" }, 1000);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });*@


        @*$("#submit-all").on('click', function (e) {
            e.preventDefault();
            var s = {
                instructor: $("#modalInstructor").val(),
                name: $("#modalClass").val(),
                description: $("#modalDescription").val(),
                day: $("#modalDay").val(),
                times: $("#modalTime").val(),
                sid: $("#hdnScheduleID").val()
            };
            console.log(JSON.stringify(s));
            $.ajax({
                url: '@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]' + '/Schedule/SaveClass',
                type: 'POST',
                data: JSON.stringify(s),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $("#scheduleModal").modal('hide');
                    $("#scheduleList").html("");
                    $("#scheduleList").load('@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]' + '/Schedule/ScheduleList');
                    $('#scheduleList').effect("highlight", { color: "#7fd658" }, 1000);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });*@



    });
</script>

