@model RAM.Controllers.ViewModels.HomeView

@using ModestoPower.Core.Domain.Schedule

@{
    ViewBag.Title = "Modesto Power | Schedule";
}
<section id="promo" class="historyheader parallax">
    <div class="container">
        <h5>Here is some statement about</h5>
        <h1>The Schedule</h1>
    </div>
</section>
<section id="aboutcontent">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 about-inner">
                <h2>Monday</h2>
                @foreach (var item in Model.Schedules.Where(o => o.day == "Monday"))
                {
                    <h5>@item.description - <b>@item.times</b></h5>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Tuesday</h2>
                @foreach (var item in Model.Schedules.Where(o => o.day == "Tuesday"))
                {
                    <h5>@item.description - <b>@item.times</b></h5>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Wednesday</h2>
                @foreach (var item in Model.Schedules.Where(o => o.day == "Wednesday"))
                {
                    <h5>@item.description - <b>@item.times</b></h5>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 about-inner">
                <h2>Thursday</h2>
                @foreach (var item in Model.Schedules.Where(o => o.day == "Thursday"))
                {
                    <h5>@item.description - <b>@item.times</b></h5>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Friday</h2>
                @foreach (var item in Model.Schedules.Where(o => o.day == "Friday"))
                {
                    <h5>@item.description - <b>@item.times</b></h5>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Saturday</h2>
                @foreach (var item in Model.Schedules.Where(o => o.day == "Saturday"))
                {
                    <h5>@item.description - <b>@item.times</b></h5>
                }
            </div>
        </div>
    </div>
</section>


<script>

    (function () {
        setTimeout(function () {
            $('#sticktop-sticky-wrapper').hide();
            $('#internalnav').show();
            $('#nav-schedule').addClass('active');
        }, 500);

    })();
</script>